@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply text-stone-50;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply text-emerald-100;
}

h2 {
  @apply text-4xl;
}

p {
  @apply text-lg;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  @apply rounded-lg;
}
